body {
    height: 100%;
    margin: 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 154px;
    height: 66px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
}
.pages {
    display: flex;
}
.social {
    height: 20px;
    margin: 1px;
}

.navOption {
    font-family: 'Forum', cursive;
    font-weight: 900;
    color: black;
    margin: 20px;
}
.banner-container {
    margin: 0px;
}

.bannerpic {
    width: 1713px; 
    height: 690px;
}
