body {
    height: 100%;
    margin: 0px;
}
.fixed-position {
position: fixed;
top: 0;
left: 0;
margin: auto;
width: 100%;
z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.logo {
    width: 154px;
    height: 66px;
    margin-left: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar {
    display: flex;
    margin: 20px;
    align-items: center;
}
.pages {
    display: flex;
}
.social {
    height: 20px;
    margin: 1px;
    cursor: pointer;
}

.navOption {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    font-weight: 900;
    color: black;
    margin: 18px;
}

.navOption:hover {
    color: rgb(237, 4, 122) !important;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    z-index: 1;
  }
  
  .dropdown-content a {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    color: rgb(237, 4, 122) !important;
}
  
.dropdown-container:hover .dropdown-content {display: block;}

.banner-container {
    position: relative;
    text-align: center;
}

.bannerpic {
    width: 100%;
    height: 690px;
}

.banner-container h1 {
  font-size: 75px;
  color: white;
  font-family: 'Libre Baskerville', serif;
  line-height: 70px;
  position: absolute;
  top: 39%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.banner-container h2 {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  top: 61%;
  left: 27%;
  transform: translate(-50%, -50%);
  color:rgb(237, 4, 122);
}

#statement {
    font-family: 'Libre Baskerville', serif;
    color: rgb(41,4,56);
    font-size: 28px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 21%;
    padding-right: 25%;
}
.info-container {
    display: flex;
    flex-wrap: wrap;
}

.info-box {
    width: 50%;
    flex-shrink: 0;
    height: 650px;
}

.info-box.info-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 4, 122);
}

.info-box.info-text.right {
    background-color: rgb(237, 4, 122);
}

.info-box.info-text.left {
    background-color: rgb(78, 44, 121);
}

.infoheader {
  font-size: 50px;
  color: white;
  font-family: 'Libre Baskerville', serif;
}
.infoparagraph {
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    font-size: 18px;
    color: white;
}

.text-container {
    width: 55%
}
.view-more {
    font-family: 'Libre Baskerville', serif;
    display: inline-block;
    color: white;
    margin-top: 10px;
    background-color: rgb(77,44,121);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0);
    transition: 0.3s;
}

.view-more:hover {
    background-color: rgb(237, 4, 122);
    border-color: white;
    cursor: pointer;
}

#view-more-purple {
    background-color: rgb(237, 4, 122);
}

#view-more-purple:hover {
    background-color: rgb(77,44,121);
    cursor: pointer;
}

.news-container {
    display: flex;
    justify-content: center;
    background-color: rgb(244,242,246);
}

.news-box {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.news-title h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(77,44,121);
    margin-bottom: 5px;
}

.news-title h2 {
    font-family: 'Ubuntu', sans-serif;
    color:rgb(237, 4, 122);
    margin-top: 0;
}

.news-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-image {
    height: 164.25px;
    width: 100%;
}

.newsCard {
    width: 31%;
    margin-top: 10px;
    background-color: white;
    margin-bottom: 2.5%;
}

.newsCard h2 {
    font-family: 'Libre Baskerville', serif;
    color:rgb(237, 4, 122);
    font-size: 21px;
    padding: 5%;
}

.hover-purple:hover {
    color: rgb(77,44,121);
    cursor: pointer;
}

.newsCard p {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
}

#view-more-news {
    max-width: 10%;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 4%;
    border: solid;
    border-color: black;
    border-width: 1px;
}

.career-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(224,221,226);
}

.career-text {
    width: 55%;
}

.career-card-container {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 42px);
}
.careerCard {
    width: 23%;
    height: 400px;
    display: flex;
    margin: 1%;
    flex-direction: column;
    justify-content: space-between;
}

.careerCard h2 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
}

.careerCard p {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    font-size: 12px;
    margin-top: 30px;
    margin-left: 30px;
}

.careerCard h2:hover {
    color:rgb(237, 4, 122);
    cursor: pointer;
}

.career-text h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    font-weight: 900;
    color: rgb(77,44,121);
    margin-bottom: 20px;
    margin-top: 100px;
}

.career-text h2 {
    font-family: 'Ubuntu', sans-serif;
    color:rgb(237, 4, 122);
    margin-top: 0;
}

.career-text p {
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 50px;
}

#view-more-careers {
    margin-top: 30px;
    margin-bottom: 50px;
    border: solid;
    border-color: black;
    border-width: 1px;
}

#finance {
    background: linear-gradient(
        rgba(77, 44, 121, 0.45),       
        rgba(77, 44, 121, 0.45)
      ),
    url('images/showingoff.jpg');
    background-size: cover;
}

#tech-support{
    background: linear-gradient(
        rgba(77, 44, 121, 0.45),       
        rgba(77, 44, 121, 0.45)
      ),
    url('images/typing.jpg');
    background-size: cover;
}

#b2b {
    background: linear-gradient(
        rgba(77, 44, 121, 0.45),       
        rgba(77, 44, 121, 0.45)
      ),
    url('images/teamwork.jpg');
    background-size: cover;
}

#build-assurance{
    background: linear-gradient(
        rgba(77, 44, 121, 0.45),       
        rgba(77, 44, 121, 0.45)
      ),
    url('images/twoengineers.jpg');
    background-size: cover;
}

#dev-ops{
    background: linear-gradient(
        rgba(77, 44, 121, 0.45),       
        rgba(77, 44, 121, 0.45)
      ),
    url('images/codingman.jpg');
    background-size: cover;
}

#test-analyst{
    background: linear-gradient(
        rgba(77, 44, 121, 0.45),       
        rgba(77, 44, 121, 0.45)
      ),
    url('images/maninglasses.jpg');
    background-size: cover;
}

.subscribe-container {
    display: flex;
    justify-content: center;
    background-color: rgb(244,242,246);
}

.subscribe-content {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    width: 60%;

}

.subscribe-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5%;
    width: 45%;
}

.subscribe-form p {
    margin-bottom: 0;
    font-size: 13px;
    color: rgb(58,24,72);
    width: 85%;
}

.email-input {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 60%;
    border-style: none;
    color: rgb(125,100,156);
    margin-bottom: 40px;
}

.submit {
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    border-radius: 0px;
    width: 25%;
    border-style: none;
    background-color: rgb(237, 4, 122);
    color: white;
    transition: 0.3s;
}

.submit:hover {
    background-color: rgb(77,44,121);
    cursor: pointer;
}


.subscribe-info {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.subscribe-info h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    font-weight: 900;
    color: rgb(77,44,121);
    margin: 1px;
}

.subscribe-info h2 {
    font-family: 'Ubuntu', sans-serif;
    color:rgb(237, 4, 122);
}

.subscribe-info p {
    font-family: 'Libre Baskerville', serif;
    color: black;
    font-size: 24px;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(41,4,56);
}
.footer-left, .footer-right {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    width: 40%;
    justify-content: space-evenly;
}

.footer-title {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    color:rgb(237, 4, 122);
}

.contact {
    display: flex;
    align-items: center;
}

.contact img {
    width: 24px;
    height: 23px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contact p {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 14px;
    margin-top:2px;
    margin-bottom: 2px;
}

#address {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 15px;
}

.bsi {
    margin-top: 10px;
    width: 143px;
    height: 39px;
}

#registration {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 10px;
}

.col2 p {
    font-family: 'Libre Baskerville', serif;
    color:rgb(237, 4, 122);
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

.col2 h3 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 14px;
}
#underline {
    text-decoration: underline;
    cursor: pointer;
}

.col3 h3 {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.col3 p {
    font-family: 'Libre Baskerville', serif;
    color:rgb(237, 4, 122);
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

#privacy {
    text-decoration: none;
    cursor: default;
}

#copyright {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 10px;
    text-decoration: none;
    width: 75%;
}

.footer-social {
    width: 28px;
    height: 28px;
    margin: 3px;
    cursor: pointer;
}

.col4-subscribe {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 15px;
}

.col4-privacy {
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 10px;
    text-decoration: none;
}

#footer-submit, #footer-email-input {
    width: 40%;
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}